head {
  display: none;
}
* {
  display: block;
  padding: 12px;
}

div.b {
  background: #ffa500a5;
}
div.c {
  background: #ffff00;
}
div.d {
  background: #008000;
}
div.e {
  background: #0000ff;
}
div.f {
  background: #4b0082;
}
div.g {
  background: rgb(10 20 30 / 0.25);
}

p {
  color: #000000;
}
