/*
comment
*/

* {
  padding: 4px;
}

div.box {
  background: #f0f0f5;
}

.child1 {
  background-color: blue;
  color: white;
  margin-bottom: 100px;
  text-transform: uppercase;
  text-decoration: underline;
  visibility: hidden;
}

.child2 {
    background-color: #aaff00;
    margin-top: 10px;
}
